# Python environment and bytecode
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
build/
dist/

# Data Files (Ignored as requested)
*.csv
*.xlsx
*.xls
*.tsv
play.py

# Logs and system files
*.log
.DS_Store
.env
*.spec